<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AccessLoginController</servlet-name>
        <servlet-class>access.controller.AccessLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginLogout</servlet-name>
        <servlet-class>access.controller.accessLoginLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoGetList</servlet-name>
        <servlet-class>access.controller.EmpleadoGetList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoCRUD</servlet-name>
        <servlet-class>access.controller.EmpleadoCRUD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessLoginController</servlet-name>
        <url-pattern>/accesslogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoGetList</servlet-name>
        <url-pattern>/allemployeds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoCRUD</servlet-name>
        <url-pattern>/empleado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>recusros protegidos para Administradores de usuarios</display-name>
        <web-resource-collection>
            <web-resource-name>AdminUsers</web-resource-name>
            <url-pattern>/allemployeds</url-pattern>
            <url-pattern>/empleado</url-pattern>
            <url-pattern>/addempleado</url-pattern>
            <url-pattern>/logout</url-pattern>
            <url-pattern>/admin/users/*</url-pattern>
            <url-pattern>/admin/users/nav</url-pattern>
            <url-pattern>/admin/adminusers.jsp</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
            <http-method>HEAD</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>adminUser</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>adminUser</role-name>
    </security-role>
    <security-constraint>
        <display-name>Paginas protegidas para AdminReport</display-name>
        <web-resource-collection>
            <web-resource-name>Administradores</web-resource-name>
            <url-pattern>/logout</url-pattern>
            <url-pattern>/admin/adminreport.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>adminReport</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>adminReporte</role-name>
    </security-role>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>jdbc</realm-name>
        <form-login-config>
            <form-login-page>/login/loginAdmin.jsp</form-login-page>
            <form-error-page>/login/loginerror.jsp</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
